.marketing {
	margin-top: 60px;
}

.WildSpyFont {
	font-size: 8em;
	font-family: Brush Script Std;
	color: black;
	display: block;
	text-align: center;
}

.featurette-divider1 {
	margin: 0px 0 20px 0;
}

.featurette-divider {
	margin: 30px 0 30px 0;
}

.featurette-dividerfoot {
	margin: 0px 0 10px 0;
}